h1 {
    border-bottom: 4px solid rgb(51, 102, 255);
}

body {
    font-family: Roboto;
}

header + p {
    font-weight: bold;
    background-color: rgba(27, 140, 216, 0.849);
    color: #fff;
    padding: .5em;
}

ul {
    list-style-type: none;
    flex: 100%;
    display: flex;
    height: 40px;
}

li {
    background-color: rgb(51, 102, 255);
    border: 5px solid rgb(4, 87, 112);
    text-align: center;
    display: inline;
    flex: auto;
    padding-top: 5px;
}

li:hover, li:focus {
    opacity: 70%;
}

.box {
    border: 2px solid black;
}