h1 {
    border-bottom: 4px solid rgb(51, 102, 255);
}

body {
    font-family: "Roboto", sans-serif;
}

header + p {
    font-weight: bold;
    background-color: rgba(27, 140, 216, 0.849);
    color: #fff;
    padding: .5em;
}

.box {
    border: 2px solid black;
}

.row {
    margin-top: 1em
}
