:root {
    /* COLORS */
    /* Used color palette: https://colorhunt.co/palette/264587 */
    /* --color1: #feffde;
    --color2: #ddffbc;
    --color3: #91c788;
    --color4: #52734d; */
    
    /* Color palette: https://colorhunt.co/palette/252800 */
    --color1: #f8f1f1;
    --color2: #a3d2ca;
    --color3: #5eaaa8;
    --color4: #eb5e0b;
    --color5: #000000;
    --color6: #3d6d6b;

    /* PADDING */
    --content_padding: 30px 15% 0px 15%;

}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: var(--color6);
}

.icon-h2 {
    padding-left: 5px;
    font-size: 20pt;
}

header {
    color: var(--color5);
    padding: var(--content_padding);
    font-size: 21px;
}

h2 {
    font-weight: 500;
}

.jumbotron {
    padding-top: 100px;
    background: var(--color2);
    text-align: center;
    height: 300px;
}

form {
    padding-right: 20px;
}

.input-group-text {
    width: 60px;
    justify-content: center;
    background-color: var(--color3);
    color: white;
    border: none;
}

.radio-buttons {
    padding-bottom: 20px;
}

#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#body {
    padding: 10%;
    display: flex;
    overflow: auto;
    background-color: var(--color1);
}

.car-icon-line {
    display: flex;
    position: relative;
    background-color: var(--color1);
  }

.car-line {
    width: 75%;
    position: relative;
    margin: 10px;
    border-bottom: 2px dashed;
    color: var(--color2);
}

.car-icon {
    position: relative;
    top: 3px;
    color: var(--color4);
}

.page-footer {
    width: 100%;
    padding: var(--content_padding);
    background-color: var(--color3);
    color: white;
    box-shadow: 0 50vh 0 50vh var(--color3);
}

*, *::before, *::after {
    box-sizing: border-box;
}
