:root {
    /* COLORS */

    /* Color palette: https://colorhunt.co/palette/252800 */
    /* Contrast checking: https://webaim.org/resources/contrastchecker/ */
    --color1: #f8f1f1;
    --color2: #a3d2ca;
    --color3: #5eaaa8;
    --color4: #325856;
    --color5: #eb5e0b;

    /* PADDING */
    --content_padding: 30px 15% 0px 15%;

}

*, *::before, *::after {
    box-sizing: border-box;
}

#body {
    padding: 5% 10% 5% 10%;
    display: flex;
    overflow: auto;
    background-color: var(--color1);
}

.car-icon {
    position: relative;
    top: 3px;
    color: var(--color5);
}

.car-icon:active ~ .car-sound {
    visibility: visible;
    color: var(--color5);
}

.car-icon-line {
    display: flex;
    position: relative;
    background-color: var(--color1);
  }

.car-line {
    width: 75%;
    margin: 10px;
    border-bottom: 2px dashed;
    color: var(--color2);
}

.car-sound {
    visibility: hidden;
}

#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.content-summary {
    font-weight: 500;
    font-size: 26px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.emphasize {
    color: var(--color5);
}

form {
    padding-right: 20px;
}

.form-check-label{
    font-size: 18px;
}

header {
    color: var(--color4);
    padding: var(--content_padding);
    font-size: 21px;
}

hr {
    color: var(--color3);
}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: var(--color4);
}

.input-group-text {
    width: 60px;
    justify-content: center;
    background-color: var(--color3);
    color: white;
    border: none;
}

.jumbotron {
    padding-top: 100px;
    background: var(--color2);
    text-align: center;
    height: 300px;
}

.page-footer {
    width: 100%;
    padding: var(--content_padding);
    background-color: var(--color3);
    color: white;
    box-shadow: 0 50vh 0 50vh var(--color3);
}

.radio-buttons {
    padding-bottom: 20px;
}

.radio-buttons input:checked {
    background-color: var(--color3);
    border: var(--color3);
}

.url {
    color: white;
}

.url:hover {
    color: var(--color4);
}