html, body {
    margin: 0;
    padding: 0; 
    height: 100%;
}

#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.jumbotron {
    padding: 30px 0px 10px 10px;
    background:#eee;
    text-align: center;
}

#body {
    padding: 20px 40px 40px 40px;
    padding-bottom: 100px; /* Footer height */
    display: flex;
    overflow: auto;
}

.page-footer {
    bottom: 0px; 
    width: 100%;
    padding: 30px 30px 0px 30px;
    background-color: #222;
    color: #ccc;
}

*, *::before, *::after {
    box-sizing: border-box;
}