html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    height: 100%;
}

/* Header */
header {
    color: white;
}

.jumbotron {
    padding-top: 100px;
    background: #eee;
    text-align: center;
    height: 300px;
    background-image: url(https://source.unsplash.com/rYrawNU0wH0/1200x600);
    background-size: cover;
}

/* Content */
form {
    padding-right: 20px;
    /* border-right: 1px solid rgb(207, 207, 207); */
}

.input-group-text {
    width: 60px;
    justify-content: center;
}

.radio-buttons {
    padding-bottom: 20px;
}

#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#body {
    padding: 20px 40px 40px 40px;
    /* Footer height */
    padding-bottom: 200px; 
    display: flex;
    overflow: auto;
}

.page-footer {
    width: 100%;
    padding: 30px 30px 0px;
    background-color: rgb(58, 58, 58);
    /* color: #ccc; */
    color: white;
    box-shadow: 0 50vh 0 50vh rgb(58, 58, 58);;
}

/* Car icon */
.car-icon-line {
    display: flex;
    position: relative;
  }

.car-line {
    width: 75%;
    position: relative;
    margin: 10px;
    border-bottom: 2px dashed;
    color: rgb(238, 144, 12);
}

.car-icon {
    position: relative;
    top: 3px;
    color: rgb(238, 144, 12);
}

/* Something */
*, *::before, *::after {
    box-sizing: border-box;
}