.jumbotron {
    position: relative;
    padding: 60px 0 30px 0;
    background:#eee;
    text-align: center;
}

.container-fluid {
    padding: 0 !important;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}


html {
    height: 100%;
}

body {
    font-family: Roboto, sans-serif;
    min-height: 100%;
    margin-bottom: 60px;
}

form {
    display: flex; 
    flex-direction: column;
    padding: 20px 40px 40px 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.row {
    margin: 1em;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
    bottom: 0px;
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 12px 16px;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

