/* Removes white space from the right side of page */
html {
    overflow-x: hidden;
}

.jumbotron {
    position: relative;
    padding: 60px 0 30px 0;
    background:#eee;
    text-align: center;
}

.container-fluid {
    padding: 0 !important;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

h1 {
    border-bottom: 4px solid #222;
    font-weight: 900;
}

body {
    font-family: Roboto, sans-serif;
}

/* header + p {
    font-weight: bold;
    background-color: rgba(27, 140, 216, 0.849);
    color: #fff;
    padding: .5em;
} */

/* .box {
    border: 2px solid black;
} */

.row {
    margin: 1em;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}