html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    height: 100%;
}

.inline-option {
    margin-left: -10px;
    padding-right: 5px;
}

#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.jumbotron {
    padding: 30px 0px 10px 10px;
    background:#eee;
    text-align: center;
}

#body {
    padding: 20px 40px 40px 40px;
    padding-bottom: 250px; /* Footer height */
    display: flex;
    overflow: auto;
}

.page-footer {
    width: 100%;
    padding: 30px 30px 0px;
    background-color: #222;
    color: #ccc;
    box-shadow: 0 50vh 0 50vh #222;
}

*, *::before, *::after {
    box-sizing: border-box;
}