html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    height: 100%;
}

/* Header */
header {
    color: white;
}

.jumbotron {
    padding-top: 60px;
    background: #eee;
    text-align: center;
    height: 200px;
}

/* Content */
form {
    padding-right: 20px;
    /* border-right: 1px solid rgb(207, 207, 207); */
}

.input-group-text {
    width: 25%;
    justify-content: center;
}

.form-check-label {
    padding-bottom: 20px;
}

#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#body {
    padding: 20px 40px 40px 40px;
    /* Footer height */
    padding-bottom: 250px; 
    display: flex;
    overflow: auto;
}

.page-footer {
    width: 100%;
    padding: 30px 30px 0px;
    background-color: rgb(58, 58, 58);
    /* color: #ccc; */
    color: white;
    box-shadow: 0 50vh 0 50vh rgb(58, 58, 58);;
}

/* Car icon */
.car-icon-line {
    display: flex;
    position: relative;
  }

.car-line {
    width: 85%;
    position: relative;
    margin: 10px;
    border-bottom: 2px solid;
}

.car-icon {
    position: relative;
    top: 3px;
}

/* Something */
*, *::before, *::after {
    box-sizing: border-box;
}