/* Color palettes */

:root {
    /* COLORS */
    --header_color_text: black;
    --header_color_bg: #eeeeee;

    --body_color_bg: #fff5eb;

    --car_color: rgb(238, 144, 12);

    --footer_color: rgb(58, 58, 58);

    /* PADDING */
    --content_padding: 30px 15% 0px 15%;

    /* TESTING */
    /* Used color palette: https://colorhunt.co/palette/264587 */
    --header_color_text: black;
    --header_color_bg: #91c788;

    --body_color_bg: #feffde;

    --car_color: #132c33;

    --footer_color: #52734d;

}

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.icon-over-input {
    padding-left: 5px;
    font-size: large;
}

.icon-h2 {
    padding-left: 5px;
    font-size: 20pt;
}

/* Header */
header {
    color: var(--header_color_text);
    padding: var(--content_padding);
}

h1 {
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

.jumbotron {
    padding-top: 100px;
    background: var(--header_color_bg);
    text-align: center;
    height: 250px;
    /* background-image: url(https://source.unsplash.com/rYrawNU0wH0/1200x600); */
    /* background-size: cover; */
}

/* Content */
form {
    padding-right: 20px;
    /* border-right: 1px solid rgb(207, 207, 207); */
}

.input-group-text {
    width: 60px;
    justify-content: center;
    color: black;
}

.radio-buttons {
    padding-bottom: 20px;
}

h2 {
    font-weight: 500;
}

#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

#body {
    padding: 20px 15% 200px 15%;
    display: flex;
    overflow: auto;
    background-color: var(--body_color_bg);
}

.page-footer {
    width: 100%;
    padding: var(--content_padding);
    background-color: var(--footer_color);
    /* color: #ccc; */
    color: white;
    box-shadow: 0 50vh 0 50vh var(--footer_color);
}

/* Car icon */
.car-icon-line {
    display: flex;
    position: relative;
    background-color: var(--body_color_bg);
  }

.car-line {
    width: 75%;
    position: relative;
    margin: 10px;
    border-bottom: 2px dashed;
    color: var(--car_color);
}

.car-icon {
    position: relative;
    top: 3px;
    color: var(--car_color);
}

/* Something */
*, *::before, *::after {
    box-sizing: border-box;
}
