html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0; 
    height: 100%;
}

header {
    color: white;
    padding-bottom: 50px;
}

h1 {
    text-emphasis-style: bold;
}

form {
    padding-right: 20px;
    border-right: 1px solid rgb(207, 207, 207);
}

.form-check-label {
    padding-bottom: 20px;
}

#container {
    width: 100%;
    min-height: 100%;
    position: relative;
}

.jumbotron {
    padding: 30px 50px 10px 50px;
    background: #eee;
    text-align: center;
}

#body {
    padding: 20px 40px 40px 40px;
    /* Footer height */
    padding-bottom: 250px; 
    display: flex;
    overflow: auto;
}

.page-footer {
    width: 100%;
    padding: 30px 30px 0px;
    background-color: rgb(58, 58, 58);
    /* color: #ccc; */
    color: white;
    box-shadow: 0 50vh 0 50vh rgb(58, 58, 58);;
}

*, *::before, *::after {
    box-sizing: border-box;
}